In [1]:
import pandas as pd

In [2]:
countries = pd.read_json('map.geo.json')
countries

                  type                                           features
0    FeatureCollection  {'type': 'Feature', 'properties': {'featurecla...
1    FeatureCollection  {'type': 'Feature', 'properties': {'featurecla...
2    FeatureCollection  {'type': 'Feature', 'properties': {'featurecla...
3    FeatureCollection  {'type': 'Feature', 'properties': {'featurecla...
4    FeatureCollection  {'type': 'Feature', 'properties': {'featurecla...
..                 ...                                                ...
253  FeatureCollection  {'type': 'Feature', 'properties': {'featurecla...
254  FeatureCollection  {'type': 'Feature', 'properties': {'featurecla...
255  FeatureCollection  {'type': 'Feature', 'properties': {'featurecla...
256  FeatureCollection  {'type': 'Feature', 'properties': {'featurecla...
257  FeatureCollection  {'type': 'Feature', 'properties': {'featurecla...

[258 rows x 2 columns]

In [4]:
import geopandas as gpd

In [7]:
countries = gpd.read_file('map.geo.json')
countries

,featurecla,scalerank,labelrank,sovereignt,sov_a3,adm0_dif,level,type,tlc,admin,...,fclass_id,fclass_pl,fclass_gr,fclass_it,fclass_nl,fclass_se,fclass_bd,fclass_ua,filename,geometry
0,Admin-0 country,0,5,Costa Rica,CRI,0,2,Sovereign country,1,Costa Rica,...,None,None,None,None,None,None,None,None,CRI.geojson,"MULTIPOLYGON (((-83.69650 10.93659, -83.68687 ..."
1,Admin-0 country,0,5,Nicaragua,NIC,0,2,Sovereign country,1,Nicaragua,...,None,None,None,None,None,None,None,None,NIC.geojson,"MULTIPOLYGON (((-85.70174 11.08088, -85.70242 ..."
2,Admin-0 country,3,6,France,FR1,1,2,Dependency,1,Saint Martin,...,None,None,None,None,None,None,None,None,MAF.geojson,"POLYGON ((-63.01757 18.03339, -63.08589 18.058..."
3,Admin-0 country,3,6,Netherlands,NL1,1,2,Country,1,Sint Maarten,...,None,None,None,None,None,None,None,None,SXM.geojson,"POLYGON ((-63.10700 18.06212, -63.08589 18.058..."
4,Admin-0 country,0,5,Haiti,HTI,0,2,Sovereign country,1,Haiti,...,None,None,None,None,None,None,None,None,HTI.geojson,"MULTIPOLYGON (((-71.75744 19.71011, -71.74861 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,Admin-0 country,3,5,Mauritius,MUS,0,2,Sovereign country,1,Mauritius,...,None,None,None,None,None,None,None,None,MUS.geojson,"MULTIPOLYGON (((57.79575 -20.22275, 57.79396 -..."
254,Admin-0 country,5,5,United Kingdom,GB1,1,2,Disputed,1,British Indian Ocean Territory,...,None,None,None,None,None,None,None,None,IOT.geojson,"MULTIPOLYGON (((72.46754 -7.38388, 72.47153 -7..."
255,Admin-0 country,5,5,Maldives,MDV,0,2,Sovereign country,1,Maldives,...,None,None,None,None,None,None,None,None,MDV.geojson,"MULTIPOLYGON (((73.16310 -0.68182, 73.17254 -0..."
256,Admin-0 country,3,4,United Kingdom,GB1,1,2,Dependency,1,South Georgia and the Islands,...,None,None,None,None,None,None,None,None,SGS.geojson,"MULTIPOLYGON (((-27.25292 -59.45827, -27.24999..."
257,Admin-0 country,6,5,France,FR1,1,2,Dependency,1,Clipperton Island,...,None,None,None,None,None,None,None,None,clippertoni.geojson,"POLYGON ((-109.21203 10.30268, -109.21036 10.2..."

In [10]:
csv_file_path = 'API_SP.POP.TOTL_DS2_en_csv_v2_85.csv'
population_df = pd.read_csv(csv_file_path, skiprows=4, header=0)
population_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0,NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720859132.0,NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,...,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0,NaN
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,...,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0,NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,...,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1786038.0,1761985.0,NaN
262,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5542459.0,5646668.0,5753386.0,5860197.0,5973803.0,6097298.0,...,27753304.0,28516545.0,29274002.0,30034389.0,30790513.0,31546691.0,32284046.0,32981641.0,33696614.0,NaN
263,South Africa,ZAF,"Population, total",SP.POP.TOTL,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,...,54729551.0,55876504.0,56422274.0,56641209.0,57339635.0,58087055.0,58801927.0,59392255.0,59893885.0,NaN
264,Zambia,ZMB,"Population, total",SP.POP.TOTL,3119430.0,3219451.0,3323427.0,3431381.0,3542764.0,3658024.0,...,15737793.0,16248230.0,16767761.0,17298054.0,17835893.0,18380477.0,18927715.0,19473125.0,20017675.0,NaN
265,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3806310.0,3925952.0,4049778.0,4177931.0,4310332.0,4447149.0,...,13855753.0,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0,15993524.0,16320537.0,NaN

In [11]:
years_of_interest = ['Country Name', '2022','2021','2020', '2019', '2018']  
population_df_selected = population_df[years_of_interest]

In [13]:
gdf_merged = countries.merge(population_df_selected, left_on='admin', right_on='Country Name', how='left')
gdf_merged

,featurecla,scalerank,labelrank,sovereignt,sov_a3,adm0_dif,level,type,tlc,admin,...,fclass_bd,fclass_ua,filename,geometry,Country Name,2022,2021,2020,2019,2018
0,Admin-0 country,0,5,Costa Rica,CRI,0,2,Sovereign country,1,Costa Rica,...,None,None,CRI.geojson,"MULTIPOLYGON (((-83.69650 10.93659, -83.68687 ...",Costa Rica,5180829.0,5153957.0,5123105.0,5084532.0,5040734.0
1,Admin-0 country,0,5,Nicaragua,NIC,0,2,Sovereign country,1,Nicaragua,...,None,None,NIC.geojson,"MULTIPOLYGON (((-85.70174 11.08088, -85.70242 ...",Nicaragua,6948392.0,6850540.0,6755895.0,6663924.0,6572233.0
2,Admin-0 country,3,6,France,FR1,1,2,Dependency,1,Saint Martin,...,None,None,MAF.geojson,"POLYGON ((-63.01757 18.03339, -63.08589 18.058...",NaN,NaN,NaN,NaN,NaN,NaN
3,Admin-0 country,3,6,Netherlands,NL1,1,2,Country,1,Sint Maarten,...,None,None,SXM.geojson,"POLYGON ((-63.10700 18.06212, -63.08589 18.058...",NaN,NaN,NaN,NaN,NaN,NaN
4,Admin-0 country,0,5,Haiti,HTI,0,2,Sovereign country,1,Haiti,...,None,None,HTI.geojson,"MULTIPOLYGON (((-71.75744 19.71011, -71.74861 ...",Haiti,11584996.0,11447569.0,11306801.0,11160438.0,11012421.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,Admin-0 country,3,5,Mauritius,MUS,0,2,Sovereign country,1,Mauritius,...,None,None,MUS.geojson,"MULTIPOLYGON (((57.79575 -20.22275, 57.79396 -...",Mauritius,1262523.0,1266334.0,1266014.0,1265985.0,1265577.0
254,Admin-0 country,5,5,United Kingdom,GB1,1,2,Disputed,1,British Indian Ocean Territory,...,None,None,IOT.geojson,"MULTIPOLYGON (((72.46754 -7.38388, 72.47153 -7...",NaN,NaN,NaN,NaN,NaN,NaN
255,Admin-0 country,5,5,Maldives,MDV,0,2,Sovereign country,1,Maldives,...,None,None,MDV.geojson,"MULTIPOLYGON (((73.16310 -0.68182, 73.17254 -0...",Maldives,523787.0,521457.0,514438.0,504508.0,489758.0
256,Admin-0 country,3,4,United Kingdom,GB1,1,2,Dependency,1,South Georgia and the Islands,...,None,None,SGS.geojson,"MULTIPOLYGON (((-27.25292 -59.45827, -27.24999...",NaN,NaN,NaN,NaN,NaN,NaN
257,Admin-0 country,6,5,France,FR1,1,2,Dependency,1,Clipperton Island,...,None,None,clippertoni.geojson,"POLYGON ((-109.21203 10.30268, -109.21036 10.2...",NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
gdf_merged[['admin','2018','2019','2020','2021','2022']]

,admin,2018,2019,2020,2021,2022
0,Costa Rica,5040734.0,5084532.0,5123105.0,5153957.0,5180829.0
1,Nicaragua,6572233.0,6663924.0,6755895.0,6850540.0,6948392.0
2,Saint Martin,NaN,NaN,NaN,NaN,NaN
3,Sint Maarten,NaN,NaN,NaN,NaN,NaN
4,Haiti,11012421.0,11160438.0,11306801.0,11447569.0,11584996.0
...,...,...,...,...,...,...
253,Mauritius,1265577.0,1265985.0,1266014.0,1266334.0,1262523.0
254,British Indian Ocean Territory,NaN,NaN,NaN,NaN,NaN
255,Maldives,489758.0,504508.0,514438.0,521457.0,523787.0
256,South Georgia and the Islands,NaN,NaN,NaN,NaN,NaN
257,Clipperton Island,NaN,NaN,NaN,NaN,NaN

In [17]:
countries = ', '.join(gdf_merged['admin'])